.footer {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 1.5rem 0;
  margin-top: 4rem;
  width: 100%;
  border-top: 1px solid var(--color-gray-medium);
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footerContent {
  text-align: center;
}

.footerContent p {
  color: var(--color-black);
  font-size: 0.8125rem;
  font-size: 0.9rem;
}
