.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  background-color: #f5f5f5;
  height: 2.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2.125rem;
  font-size: 0.8125rem;
  color: #444;
  font-family: "Poppins", sans-serif;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.left span {
  font-weight: 600;
  color: black;
}

.logo {
  height: 1.3125rem;
  width: auto;
}

.right {
  display: flex;
  list-style: none;
  gap: 1.0625rem;
  margin: 0;
  padding: 0;
}

.right li {
  cursor: pointer;
  transition: opacity 0.3s;
}

.right li .topBarLink {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.right li:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .topbar {
    justify-content: flex-start;
    padding: 0rem 1.0625rem;
    font-size: 0.8125rem;
    position: static;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .right {
    display: none;
  }
  .left {
    width: 100%;
    justify-content: center;
  }
  .left span {
    font-size: 0.8125rem;
  }
  .logo {
    height: 1.0625rem;
  }
}