.civilLayout {
  width: 100%;
  padding-top: 2.125rem;
  min-height: 100vh;
}

.mainWrapper {
  margin-left: 250px;
  min-height: calc(100vh - 2.125rem);
  background-color: var(--color-gray-light);
}

.main {
  padding: 2rem;
}

:global([data-theme="dark"]) .mainWrapper {
  background-color: #0d0d0d;
}

@media (max-width: 768px) {
  .mainWrapper {
    margin-left: 0;
  }

  .main {
    padding: 1rem;
  }
}
