.adminLayout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-gray-light);
  padding-top: 2.125rem;
}

.mainWrapper {
  flex: 1;
  margin-left: 260px;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 2rem;
}

@media (max-width: 768px) {
  .mainWrapper {
    margin-left: 70px;
  }
}
